@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: "Montserrat", sans-serif;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

@utility wrapper {
  @apply mx-auto w-full max-w-7xl px-4;
}

@utility transition-300 {
  transition: all 300ms ease-in-out;
}

@utility bg-emerald-pattern {
  background-color: #047857;
  background-image: radial-gradient(#059669 0.5px, transparent 0.5px);
  background-size: 24px 24px;
}

@utility glass-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
